.centerItems{
    justify-content: center;
}

.alingText{
    text-align: center;
}

.fontText{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fontTextbtn{
    color: rgb(231, 231, 231);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bgtable{
    background-color: rgb(131, 12, 62);
    color: aliceblue;
}

.bgprevia{
    background-color: rgb(25, 26, 88);
    color: rgb(255, 255, 255);
}

