<div class="row justify-content-center">
  <ngx-toast-notifier></ngx-toast-notifier>
  <div class="col-5 my-2">
    <h4 class="bgc text-center shadow"><b>Consultas Pendientes</b></h4>
    <div *ngFor="let dato of listRecord; let i = index" class="accordion" [attr.id]="'accordionExample' + i">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" [attr.data-bs-toggle]="'collapse'" [attr.data-bs-target]="'#collapseOne' + i" aria-expanded="false">
            <b>Cita No:&nbsp;</b>{{dato.no}} &nbsp;
            <b>Fecha:&nbsp;</b> {{dato.fecha | date:'dd/MMM/yyyy'}} &nbsp;
            <b>Hora:&nbsp;</b> {{ formatHoraTo12Hour(dato.hora) }}&nbsp;
            <button class="btn btn-sm btn-close" (click)="eliminar(i)"></button>
            &nbsp;
            <button type="button" (click)="abrirModalAct()" class="btn btn-sm btn-info float-end">Actualizar</button>
          </button>
        </h2>
        <div [id]="'collapseOne' + i" class="accordion-collapse collapse" [attr.data-bs-parent]="'#accordionExample' + i">
          <div class="accordion-body">
            <strong>Paciente: </strong> {{dato.nombre}} &nbsp;
            <hr>
            <strong>Motivo de la Consulta: </strong> {{dato.motivoConslt}}
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>

<div class="col-6 my-2 shadow">
      <div class="accordion" id="accordionForm">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="bgc text-center shadow accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForm" aria-expanded="true" aria-controls="collapseForm">
              <h4><b>Registro de Consultas</b></h4>
            </button>
          </h2>
          <div id="collapseForm" class="accordion-collapse collapse" data-bs-parent="#accordionExample1">
            <div class="accordion-body">
              <form class="row fontText border-primary-subtle" [formGroup]="Fconsult">

                <div class="col-md-12">
                  <label for="nombre" class="form-label"><b>Seleccionar Usuario:</b></label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione un Usuario</option>
                    <option value="1">Jossue Noe Martinez Cruz</option>
                    <option value="2">Clarisbel Torres Mundo</option>
                    <option value="3">Maria Isabel Cruz Mojica</option>
                  </select>
                  <hr>
                </div>

                <div class="col-md-6">
                  <label for="nombre" class="form-label"><b>Nombre:</b></label>
                  <input type="text" class="form-control" id="nombre" placeholder="Ingrese el Nombre" formControlName="nombre" title="Este Campo es Obligatorio"/>
                    <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
                    <div *ngIf="Fconsult.get('nombre')?.invalid && (Fconsult.get('nombre')?.dirty || Fconsult.get('nombre')?.touched)">
                      <div *ngIf="Fconsult.get('nombre')?.errors requiere">
                        Este campo es Obligatorio.
                      </div>
                    </div>
                </div>
      
                <div class="col-md-6">
                  <label for="fecha" class="form-label"><b>Fecha:</b></label>
                  <input type="date" class="form-control" id="fecha" placeholder="Ingrese la fecha de la cita" formControlName="fecha" title="Este Campo es Obligatorio"/>
                    <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
                    <div *ngIf="Fconsult.get('fecha')?.invalid && (Fconsult.get('fecha')?.dirty || Fconsult.get('fecha')?.touched)">
                      <div *ngIf="Fconsult.get('fecha')?.errors requiere">
                        Este campo es Obligatorio.
                      </div>
                    </div>
                </div>
      
                <div class="col-md-12 my-2">
                  <label for="hora" class="form-label"><b>Hora:</b></label>
                  <input type="time" class="form-control" id="hora" placeholder="Ingrese la hora de la cita" formControlName="hora" title="Este Campo es Obligatorio"/>
                    <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
                    <div *ngIf="Fconsult.get('hora')?.invalid && (Fconsult.get('hora')?.dirty || Fconsult.get('hora')?.touched)">
                      <div *ngIf="Fconsult.get('hora')?.errors requiere">
                        Este campo es Obligatorio.
                      </div>
                    </div>
                </div>
      
                <div class="col-md-12 my-2">
                  <label for="motivoConslt" class="form-label"><b>Motivo de la consulta:</b></label>
                  <!-- <input type="text" class="form-control" id="motivoConslt" placeholder="Ingrese el motivo de la consulta" formControlName="motivoConslt" /> -->
                  <textarea class="form-control" id="motivoConslt" placeholder="Ingrese el motivo de la consulta" formControlName="motivoConslt" rows="3" title="Este Campo es Obligatorio"></textarea>
                    <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
                    <div *ngIf="Fconsult.get('motivoConslt')?.invalid && (Fconsult.get('motivoConslt')?.dirty || Fconsult.get('motivoConslt')?.touched)">
                      <div *ngIf="Fconsult.get('motivoConslt')?.errors requiere">
                        Este campo es Obligatorio.
                      </div>
                    </div>
                </div>

                <div class="col-md-12 my-2">
                  <label for="motivoConslt" class="form-label"><b>Anexos:</b></label>
                  <!-- <textarea class="form-control" id="motivoConslt" placeholder="Favor de subir los Anexos" formControlName="motivoConslt" rows="3" title="Subir Estudios"></textarea> -->
                 <h5>Por favor adjunten estudios realizados con anterioridad.</h5>
                  <input type="file" >
                    <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
                    <div *ngIf="Fconsult.get('motivoConslt')?.invalid && (Fconsult.get('motivoConslt')?.dirty || Fconsult.get('motivoConslt')?.touched)">
                      <div *ngIf="Fconsult.get('motivoConslt')?.errors requiere">
                        Este campo es Obligatorio.
                      </div>
                    </div>
                </div>
                <hr>
      
                <div class="col-md-6 my-2 text-center">
                  <button type="submit" class="btn btn-md btn-info fontTextbtn" (click)="agregar()" (click)="addSuccess()" (click)="limpiarCampos()">Guardar Cita</button>
                </div>
      
                <div class="col-md-6 my-2 text-center">
                  <button type="submit" class="btn btn-dark fontTextbtn" (click)="limpiarCampos()" (click)="addInfo()">Limpiar Campos</button>
                </div>
              </form> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 my-2 text-center">
        <h4>-----------------------------------------------------------------------------------------------</h4>
      </div>
      </div>    
    </div>


    <!-- Modal Actualizar -->
<div class=" modal fade modal-lg modal-dialog modal-dialog-centered" tabindex="-1" [ngClass]="{'show': mostrar2}" [ngStyle]="{'display': mostrar2 ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center align-items-center bgc shadow">
        <h2 class="modal-title" id="exampleModalLabel2"><b>Actualización del Usuario</b></h2>
        <hr>
      </div>
      <div class="modal-body">
        <form class="row fontText border-primary-subtle" [formGroup]="Fconsult">

          <div class="col-md-12">
            <label for="nombre" class="form-label"><b>Seleccionar Usuario:</b></label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione un Usuario</option>
              <option value="1">Jossue Noe Martinez Cruz</option>
              <option value="2">Clarisbel Torres Mundo</option>
              <option value="3">Maria Isabel Cruz Mojica</option>
            </select>
            <hr>
          </div>

          <div class="col-md-6">
            <label for="nombre" class="form-label"><b>Nombre:</b></label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese el Nombre" formControlName="nombre" title="Este Campo es Obligatorio"/>
              <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
              <div *ngIf="Fconsult.get('nombre')?.invalid && (Fconsult.get('nombre')?.dirty || Fconsult.get('nombre')?.touched)">
                <div *ngIf="Fconsult.get('nombre')?.errors requiere">
                  Este campo es Obligatorio.
                </div>
              </div>
          </div>

          <div class="col-md-6">
            <label for="fecha" class="form-label"><b>Fecha:</b></label>
            <input type="date" class="form-control" id="fecha" placeholder="Ingrese la fecha de la cita" formControlName="fecha" title="Este Campo es Obligatorio"/>
              <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
              <div *ngIf="Fconsult.get('fecha')?.invalid && (Fconsult.get('fecha')?.dirty || Fconsult.get('fecha')?.touched)">
                <div *ngIf="Fconsult.get('fecha')?.errors requiere">
                  Este campo es Obligatorio.
                </div>
              </div>
          </div>

          <div class="col-md-12 my-2">
            <label for="hora" class="form-label"><b>Hora:</b></label>
            <input type="time" class="form-control" id="hora" placeholder="Ingrese la hora de la cita" formControlName="hora" title="Este Campo es Obligatorio"/>
              <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
              <div *ngIf="Fconsult.get('hora')?.invalid && (Fconsult.get('hora')?.dirty || Fconsult.get('hora')?.touched)">
                <div *ngIf="Fconsult.get('hora')?.errors requiere">
                  Este campo es Obligatorio.
                </div>
              </div>
          </div>

          <div class="col-md-12 my-2">
            <label for="motivoConslt" class="form-label"><b>Motivo de la consulta:</b></label>
            <!-- <input type="text" class="form-control" id="motivoConslt" placeholder="Ingrese el motivo de la consulta" formControlName="motivoConslt" /> -->
            <textarea class="form-control" id="motivoConslt" placeholder="Ingrese el motivo de la consulta" formControlName="motivoConslt" rows="3" title="Este Campo es Obligatorio"></textarea>
              <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
              <div *ngIf="Fconsult.get('motivoConslt')?.invalid && (Fconsult.get('motivoConslt')?.dirty || Fconsult.get('motivoConslt')?.touched)">
                <div *ngIf="Fconsult.get('motivoConslt')?.errors requiere">
                  Este campo es Obligatorio.
                </div>
              </div>
          </div>

          <div class="col-md-12 my-2">
            <label for="motivoConslt" class="form-label"><b>Anexos:</b></label>
            <!-- <textarea class="form-control" id="motivoConslt" placeholder="Favor de subir los Anexos" formControlName="motivoConslt" rows="3" title="Subir Estudios"></textarea> -->
           <h5>Por favor adjunten estudios realizados con anterioridad.</h5>
            <input type="file" >
              <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
              <div *ngIf="Fconsult.get('motivoConslt')?.invalid && (Fconsult.get('motivoConslt')?.dirty || Fconsult.get('motivoConslt')?.touched)">
                <div *ngIf="Fconsult.get('motivoConslt')?.errors requiere">
                  Este campo es Obligatorio.
                </div>
              </div>
          </div>
        </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-danger" data-bs-dismiss="modal" (click)="addWarning()" (click)="abrirModalAct()">Cancelar</button>
        <button type="button" class="btn btn-lg btn-info">Actualizar</button>
      </div>
    </div>
  </div>
  </div>


    