.bgc{
    background-color: #f392f0;
    color: azure;
    border-bottom-left-radius: 20px;
}

.titlog{
        font-family: "Poetsen One", sans-serif;
        font-style: normal;
}
.trazo {
    color: rgb(206, 18, 112); /* Color del texto */
    text-shadow: -2px -2px 0 rgb(255, 255, 255), 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; /* Tras texto blanco */
}

