  <!-- row acomoda todo en columnas -->
<div class="row centerItems">
  <div class="col-8">
    &nbsp;
    <h1 class="alingText fontText"><b>Administración De Usuarios</b></h1>
    &nbsp;
    <ngx-toast-notifier></ngx-toast-notifier>
    &nbsp;
    <button type="submit" class="btn btn-success fontTextbtn" (click)="ejecutar()" (click)="limpiarCampos()">Agregar Nuevo Usuario</button>
    &nbsp;
  </div>
  <div class="col-md-8">
    <form class="row g-2 fontText" *ngIf="bandera" [formGroup]="Formulario">

      <div class="col-md-6">
        <label for="nombre" class="form-label"><b>Nombre:</b></label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingrese el Nombre" formControlName="nombre" />
          <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
          <div *ngIf="Formulario.get('nombre')?.invalid && (Formulario.get('nombre')?.dirty || Formulario.get('nombre')?.touched)">
            <div class="alert alert-danger mt-1" *ngIf="Formulario.get('nombre')?.errors requiere">
              Este campo es Obligatorio.
            </div>
          </div>
      </div>

      <div class="col-md-6">
        <label for="edad" class="form-label"><b>Edad:</b></label>
        <input type="number" class="form-control" id="edad" placeholder="Ingrese su edad" formControlName="edad" />
      </div>
      <div class="col-md-4">
        <label for="sexo" class="form-label"><b>Sexo:</b></label>
        <input type="text" class="form-control" id="sexo" placeholder="Ingrese su genero" formControlName="sexo" />
      </div>
      <div class="col-md-4">
        <label for="telefono" class="form-label"><b>Telefono:</b></label>
        <input type="tel" class="form-control" id="telefono" placeholder="Ingrese su telefono" formControlName="telefono" />
                  <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
            <div class="alert alert-danger mt-1" *ngIf="Formulario.get('telefono')?.invalid && (Formulario.get('telefono')?.dirty || Formulario.get('telefono')?.touched)">
                <div *ngIf="Formulario.get('telefono')?.errors required">
                  Teléfono es obligatorio.
                </div>
                  <div *ngIf="Formulario.get('telefono')?.errors minlength">
                    Teléfono debe tener al menos 10 caracteres.
                  </div>
                <div *ngIf="Formulario.get('telefono')?.errors maxlength">
                  Teléfono no debe tener más de 10 caracteres.
                </div>
            </div>
      </div>

      <div class="col-md-4">
        <label for="lugar" class="form-label"><b>Lugar:</b></label>
        <input type="text" class="form-control" id="lugar" placeholder="Ingrese su dirección" formControlName="lugar" />
      </div>
      <div class="col-md-12">
        <label for="referencia" class="form-label"><b>Referencia:</b></label>
        <input type="text" class="form-control" id="referencia" placeholder="Ingrese una referencia" formControlName="referencia" />
      </div>

      <div class="col-md-12 bgprevia" 
        *ngIf="this.Formulario.get('nombre')?.value !='' ||
        this.Formulario.get('edad')?.value !='' ||
        this.Formulario.get('sexo')?.value !='' ||
        this.Formulario.get('telefono')?.value !='' ||
        this.Formulario.get('lugar')?.value !='' ||
        this.Formulario.get('referencia')?.value !=''
      ">
        <h2><b>Previa del Registro:</b></h2>
        <label for="nombre" class="form-label"><b>{{this.Formulario.get('nombre')?.value}}</b></label>
        &nbsp;
        <label for="edad" class="form-label"><b>{{this.Formulario.get('edad')?.value}}</b></label>
        &nbsp;
        <label for="sexo" class="form-label"><b>{{this.Formulario.get('sexo')?.value}}</b></label>
        &nbsp;
        <label for="telefono" class="form-label"><b>{{this.Formulario.get('telefono')?.value}}</b></label>
        &nbsp;
        <label for="lugar" class="form-label"><b>{{this.Formulario.get('lugar')?.value}}</b></label>
        &nbsp;
        <label for="referencia" class="form-label"><b>{{this.Formulario.get('referencia')?.value}}</b></label>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary fontTextbtn" (click)="abrirModal()" (click)="ejecutar()">
          Agregar Registro</button>
          &nbsp;
          <button type="submit" class="btn btn-info fontTextbtn" (click)="limpiarCampos()" (click)="addInfo()">
            Limpiar Formulario</button>
      </div>
    </form>
    <hr>
    <div class="col-12 fontText" *ngIf="!bandera1">
      <h1 class="centerItems fontText"><b>Registros de Usuarios</b></h1>
      <table class="table table-striped alingText">
        <thead>
          <tr>
            <th class="bgtable" scope="col">#</th>
            <th class="bgtable" scope="col">Nombre</th>
            <th class="bgtable" scope="col">Edad</th>
            <th class="bgtable" scope="col">Sexo</th>
            <th class="bgtable" scope="col">Telefono</th>
            <th class="bgtable" scope="col">Lugar</th>
            <th class="bgtable" scope="col">Referencia</th>
            <th class="bgtable" scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of listDatos let i = index">
            <th scope="row">{{dato.no}}</th>
            <td>{{dato.nombre}}</td>
            <td>{{dato.edad}}</td>
            <td>{{dato.sexo}}</td>
            <td>{{dato.telefono}}</td>
            <td>{{dato.lugar}}</td>
            <td>{{dato.referencia}}</td>
            <td><button (click)="actualizarRegistro()" class="btn btn-sm btn-info">Actualizar</button>&nbsp;
              <button (click)="eliminarRegistro(i)" class="btn btn-sm btn-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>
  </div>
</div>

<!-- Modal -->
<div class=" modal-lg modal modal-dialog modal-dialog-centered" tabindex="-1" [ngClass]="{'show': mostrar}" [ngStyle]="{'display': mostrar ? 'block' : 'none'}">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header d-flex justify-content-center align-items-center bgc shadow">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Guardar Nuevo Usario?</h1>
    </div>
    <div class="modal-body">
        <form class="row g-2 fontText">
            <div class="col-md-12 text-center">
              <label class="form-label"><h4><b>Datos Previamente Capturados:</b></h4></label>
            </div>
            <div class="col-md-8">
              <label class="form-label"><b>Nombre: </b>{{this.Formulario.get('nombre')?.value}}</label>
            </div>
            <div class="col-md-8">
              <label class="form-label"><b>Edad: </b>{{this.Formulario.get('edad')?.value}}</label>
            </div>
            <div class="col-md-8">
              <label class="form-label"><b>Sexo: </b>{{this.Formulario.get('sexo')?.value}}</label>
            </div>
            <div class="col-md-8">
              <label class="form-label"><b>Telefono: </b>{{this.Formulario.get('telefono')?.value}}</label>
            </div>
            <div class="col-md-8">
              <label class="form-label"><b>Lugar: </b>{{this.Formulario.get('lugar')?.value}}</label>
            </div>
            <div class="col-md-8">
              <label class="form-label"><b>Referencia: </b>{{this.Formulario.get('referencia')?.value}}</label>
            </div>
          </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiarCampos()" (click)="addInfo()" (click)="abrirModal()">No</button>

      <button (click)="agregar()" (click)="addSuccess()" (click)="ejecutar1()" (click)="ocultarModal()" (click)="limpiarCampos()" type="button" class="btn btn-primary">Si</button>
    </div>
  </div>
</div>
</div>